<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/admin.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
  </head>
  <body>
    <script>
      var domain = "<%= domain %>";
    </script>
    <div class="main">
      <button type="button" id="logoutButton">Log out</button>

      <h2>CMS system</h2>
      <form id="dataForm">
        <input type="number" id="idd" name="id" placeholder="Person ID" />

        <input
          type="text"
          id="imie"
          name="imie"
          placeholder="Name"
          required /><br />
        <input
          type="number"
          id="wiek"
          name="wiek"
          placeholder="Age"
          required /><br />
        <input
          type="number"
          id="majatek"
          name="majatek"
          placeholder="Assets"
          required /><br />
        <input
          type="text"
          id="kraj"
          name="kraj"
          placeholder="Country"
          required /><br />x
        <input
          type="text"
          id="link_do_zdjecia"
          name="link_do_zdjecia"
          placeholder="Photo link"
          required /><br />
        <textarea
          id="krotki_opis"
          name="krotki_opis"
          placeholder="Description"
          required></textarea>

        <br />
        <button type="button" onclick="dodaj()">Add</button>
        <button type="button" onclick="edytuj()">Edit</button>
        <button type="button" onclick="usun()">Delete</button>
      </form>
    </div>

    <div id="rich-list" class="box2"></div>
    <div id="posty" class="box2"></div>

    <div class="box">
      <h3 style="text-align: center">Baner</h3>
      <textarea
        class="trescb"
        name="krotki_opis"
        placeholder="Header..."
        id="tresc"
        required></textarea>

      <textarea
        class="trescb"
        name="krotki_opis"
        placeholder="Some text..."
        id="tresc2"
        required></textarea>

      <button type="button" onclick="edit()" class="trescb">edit</button>
    </div>
    <script src="/edit.js"></script>
  </body>
</html>
